Repository exercism/sqlite, pull requests merged in 2024-02, with the labels that each got.

#24 fix: collatz conjucture to collatz conjecture
  config.json
  exercises/practice/collatz-conjecture/.docs/instructions.md
  exercises/practice/collatz-conjecture/.meta/config.json
  exercises/practice/collatz-conjecture/.meta/example.sql
  exercises/practice/collatz-conjecture/.meta/tests.toml
  exercises/practice/collatz-conjecture/collatz-conjecture.sql
  exercises/practice/collatz-conjecture/collatz-conjecture_test.sql
  exercises/practice/collatz-conjecture/create_fixture.sql
  exercises/practice/collatz-conjecture/create_test_table.sql
  exercises/practice/collatz-conjecture/data.csv
  exercises/practice/collatz-conjucture/.docs/instructions.md
Labels: x:rep/tiny, x:action/fix

#18 Add exercise: resistor-color
  config.json
  exercises/practice/resistor-color/.docs/instructions.append.md
  exercises/practice/resistor-color/.docs/instructions.md
  exercises/practice/resistor-color/.meta/config.json
  exercises/practice/resistor-color/.meta/example.sql
  exercises/practice/resistor-color/.meta/tests.toml
  exercises/practice/resistor-color/create_fixture.sql
  exercises/practice/resistor-color/create_test_table.sql
  exercises/practice/resistor-color/data.csv
  exercises/practice/resistor-color/resistor-color.sql
  exercises/practice/resistor-color/resistor-color_test.sql
Labels: x:module/practice-exercise

#33 Feat: add two-fer
  config.json
  exercises/practice/two-fer/.docs/instructions.md
  exercises/practice/two-fer/.docs/introduction.md
  exercises/practice/two-fer/.meta/config.json
  exercises/practice/two-fer/.meta/example.sql
  exercises/practice/two-fer/.meta/tests.toml
  exercises/practice/two-fer/create_fixture.sql
  exercises/practice/two-fer/create_test_table.sql
  exercises/practice/two-fer/data.csv
  exercises/practice/two-fer/two-fer.sql
  exercises/practice/two-fer/two-fer_test.sql
Labels: x:module/practice-exercise, x:rep/medium

#29 Add track snippet
  docs/SNIPPET.txt
Labels: x:type/docs, x:rep/tiny

#35 feat: add darts exercise
  config.json
  exercises/practice/darts/.docs/instructions.md
  exercises/practice/darts/.meta/config.json
  exercises/practice/darts/.meta/example.sql
  exercises/practice/darts/.meta/tests.toml
  exercises/practice/darts/create_fixture.sql
  exercises/practice/darts/create_test_table.sql
  exercises/practice/darts/darts.sql
  exercises/practice/darts/darts_test.sql
  exercises/practice/darts/data.csv
Labels: x:module/practice-exercise, x:rep/medium
