Repository exercism/sqlite, pull requests merged in 2024-03, with the labels that each got.

#36 feat: add nucleotide-count with error checking
  config.json
  exercises/practice/nucleotide-count/.docs/instructions.md
  exercises/practice/nucleotide-count/.meta/config.json
  exercises/practice/nucleotide-count/.meta/example.sql
  exercises/practice/nucleotide-count/.meta/tests.toml
  exercises/practice/nucleotide-count/create_fixture.sql
  exercises/practice/nucleotide-count/create_test_table.sql
  exercises/practice/nucleotide-count/data.csv
  exercises/practice/nucleotide-count/nucleotide-count.sql
  exercises/practice/nucleotide-count/nucleotide-count_test.sql
Labels: x:rep/large, x:module/practice-exercise

#43 feat: add luhn exercise
  config.json
  exercises/practice/luhn/.docs/instructions.md
  exercises/practice/luhn/.meta/config.json
  exercises/practice/luhn/.meta/example.sql
  exercises/practice/luhn/.meta/tests.toml
  exercises/practice/luhn/create_fixture.sql
  exercises/practice/luhn/create_test_table.sql
  exercises/practice/luhn/data.csv
  exercises/practice/luhn/luhn.sql
  exercises/practice/luhn/luhn_test.sql
Labels: x:rep/large, x:module/practice-exercise

#42 feat: add grains exercise
  config.json
  exercises/practice/grains/.docs/instructions.md
  exercises/practice/grains/.meta/config.json
  exercises/practice/grains/.meta/example.sql
  exercises/practice/grains/.meta/tests.toml
  exercises/practice/grains/create_fixture.sql
  exercises/practice/grains/create_test_table.sql
  exercises/practice/grains/data.csv
  exercises/practice/grains/grains.sql
  exercises/practice/grains/grains_test.sql
Labels: x:rep/large, x:module/practice-exercise

#47 feat: add eliuds-eggs exercise
  config.json
  exercises/practice/eliuds-eggs/.docs/instructions.md
  exercises/practice/eliuds-eggs/.docs/introduction.md
  exercises/practice/eliuds-eggs/.meta/config.json
  exercises/practice/eliuds-eggs/.meta/example.sql
  exercises/practice/eliuds-eggs/.meta/tests.toml
  exercises/practice/eliuds-eggs/create_fixture.sql
  exercises/practice/eliuds-eggs/create_test_table.sql
  exercises/practice/eliuds-eggs/data.csv
  exercises/practice/eliuds-eggs/eliuds-eggs.sql
  exercises/practice/eliuds-eggs/eliuds-eggs_test.sql
Labels: x:rep/large, x:module/practice-exercise

#48 feat: add armstrong-number exercise
  config.json
  exercises/practice/armstrong-numbers/.docs/instructions.md
  exercises/practice/armstrong-numbers/.meta/config.json
  exercises/practice/armstrong-numbers/.meta/example.sql
  exercises/practice/armstrong-numbers/.meta/tests.toml
  exercises/practice/armstrong-numbers/armstrong-numbers.sql
  exercises/practice/armstrong-numbers/armstrong-numbers_test.sql
  exercises/practice/armstrong-numbers/create_fixture.sql
  exercises/practice/armstrong-numbers/create_test_table.sql
  exercises/practice/armstrong-numbers/data.csv
Labels: x:rep/large, x:module/practice-exercise

#50 feat: add difference-of-squares exercise
  config.json
  exercises/practice/difference-of-squares/.docs/instructions.md
  exercises/practice/difference-of-squares/.meta/config.json
  exercises/practice/difference-of-squares/.meta/example.sql
  exercises/practice/difference-of-squares/.meta/tests.toml
  exercises/practice/difference-of-squares/create_fixture.sql
  exercises/practice/difference-of-squares/create_test_table.sql
  exercises/practice/difference-of-squares/data.csv
  exercises/practice/difference-of-squares/difference-of-squares.sql
  exercises/practice/difference-of-squares/difference-of-squares_test.sql
Labels: x:size/large, x:module/practice-exercise

#49 Add resistor-color-duo
  config.json
  exercises/practice/resistor-color-duo/.docs/instructions.md
  exercises/practice/resistor-color-duo/.meta/config.json
  exercises/practice/resistor-color-duo/.meta/example.sql
  exercises/practice/resistor-color-duo/.meta/tests.toml
  exercises/practice/resistor-color-duo/create_fixture.sql
  exercises/practice/resistor-color-duo/create_test_table.sql
  exercises/practice/resistor-color-duo/data.csv
  exercises/practice/resistor-color-duo/resistor-color-duo.sql
  exercises/practice/resistor-color-duo/resistor-color-duo_test.sql
Labels: x:module/practice-exercise, x:rep/medium

#51 feat: activate test runner
  config.json
Labels: x:rep/tiny

#56 docs: adjust difficulties and sort exercise order
  config.json
Labels: x:action/improve, x:module/practice-exercise

#55 docs: add debug info
  docs/TESTS.md
  exercises/shared/.docs/tests.md
Labels: x:type/docs

#57 feat: show data and test_table in web-editor
  exercises/practice/allergies/.meta/config.json
  exercises/practice/armstrong-numbers/.meta/config.json
  exercises/practice/bob/.meta/config.json
  exercises/practice/collatz-conjecture/.meta/config.json
  exercises/practice/darts/.meta/config.json
  exercises/practice/difference-of-squares/.meta/config.json
  exercises/practice/eliuds-eggs/.meta/config.json
  exercises/practice/gigasecond/.meta/config.json
  exercises/practice/grains/.meta/config.json
  exercises/practice/hello-world/.meta/config.json
  exercises/practice/high-scores/.meta/config.json
  exercises/practice/isogram/.meta/config.json
  exercises/practice/luhn/.meta/config.json
  exercises/practice/meetup/.meta/config.json
  exercises/practice/nucleotide-count/.meta/config.json
  exercises/practice/resistor-color-duo/.meta/config.json
  exercises/practice/resistor-color/.meta/config.json
  exercises/practice/two-fer/.meta/config.json
  exercises/practice/yacht/.meta/config.json
Labels: x:module/practice-exercise

#58 feat: activate track
  config.json
Labels: new track

#63 fix: change description column to name
  exercises/practice/allergies/test_setup.sql
  exercises/practice/armstrong-numbers/test_setup.sql
  exercises/practice/bob/bob_test.sql
  exercises/practice/bob/test_reporter.sql
  exercises/practice/bob/test_setup.sql
  exercises/practice/collatz-conjecture/collatz-conjecture_test.sql
  exercises/practice/collatz-conjecture/test_reporter.sql
  exercises/practice/collatz-conjecture/test_setup.sql
  exercises/practice/darts/darts_test.sql
  exercises/practice/darts/test_reporter.sql
  exercises/practice/darts/test_setup.sql
  exercises/practice/difference-of-squares/test_setup.sql
  exercises/practice/eliuds-eggs/test_setup.sql
  exercises/practice/gigasecond/gigasecond_test.sql
  exercises/practice/gigasecond/test_reporter.sql
  exercises/practice/gigasecond/test_setup.sql
  exercises/practice/grains/test_setup.sql
  exercises/practice/hello-world/test_setup.sql
  exercises/practice/high-scores/high-scores_test.sql
  exercises/practice/high-scores/test_reporter.sql
  exercises/practice/high-scores/test_setup.sql
  exercises/practice/isogram/isogram_test.sql
  exercises/practice/isogram/test_reporter.sql
  exercises/practice/isogram/test_setup.sql
  exercises/practice/leap/test_setup.sql
  exercises/practice/luhn/test_setup.sql
  exercises/practice/meetup/test_setup.sql
  exercises/practice/nucleotide-count/test_setup.sql
  exercises/practice/raindrops/raindrops_test.sql
  exercises/practice/raindrops/test_reporter.sql
  exercises/practice/raindrops/test_setup.sql
  exercises/practice/resistor-color-duo/resistor-color-duo_test.sql
  exercises/practice/resistor-color-duo/test_reporter.sql
  exercises/practice/resistor-color-duo/test_setup.sql
  exercises/practice/resistor-color/resistor-color_test.sql
  exercises/practice/resistor-color/test_reporter.sql
  exercises/practice/resistor-color/test_setup.sql
  exercises/practice/two-fer/test_reporter.sql
  exercises/practice/two-fer/test_setup.sql
  exercises/practice/two-fer/two-fer_test.sql
  exercises/practice/yacht/test_setup.sql
Labels: x:action/fix, x:module/test-runner

#67 Sync docs
  exercises/practice/darts/.docs/instructions.md
  exercises/practice/darts/.meta/config.json
  exercises/practice/meetup/.meta/config.json
  exercises/practice/two-fer/.docs/instructions.md
  exercises/practice/two-fer/.docs/introduction.md
Labels: x:action/sync, x:size/small, x:rep/small
