Repository exercism/sqlite, pull requests merged in 2024-06, with the labels that each got.

#73 meetup: sync
  exercises/practice/meetup/.docs/instructions.md
  exercises/practice/meetup/.docs/introduction.md
Labels: x:size/tiny

#74 Add Pascal's Triangle exercise
  config.json
  exercises/practice/pascals-triangle/.docs/instructions.md
  exercises/practice/pascals-triangle/.meta/config.json
  exercises/practice/pascals-triangle/.meta/example.sql
  exercises/practice/pascals-triangle/.meta/tests.toml
  exercises/practice/pascals-triangle/create_fixture.sql
  exercises/practice/pascals-triangle/data.csv
  exercises/practice/pascals-triangle/pascals-triangle.sql
  exercises/practice/pascals-triangle/pascals-triangle_test.sql
  exercises/practice/pascals-triangle/test_reporter.sql
  exercises/practice/pascals-triangle/test_setup.sql
Labels: x:rep/large, x:module/practice-exercise

#75 Add Matching Brackets exercise
  config.json
  exercises/practice/matching-brackets/.docs/instructions.md
  exercises/practice/matching-brackets/.docs/introduction.md
  exercises/practice/matching-brackets/.meta/config.json
  exercises/practice/matching-brackets/.meta/example.sql
  exercises/practice/matching-brackets/.meta/tests.toml
  exercises/practice/matching-brackets/create_fixture.sql
  exercises/practice/matching-brackets/data.csv
  exercises/practice/matching-brackets/matching-brackets.sql
  exercises/practice/matching-brackets/matching-brackets_test.sql
  exercises/practice/matching-brackets/test_reporter.sql
  exercises/practice/matching-brackets/test_setup.sql
Labels: x:rep/large, x:module/practice-exercise

#76 Add ETL exercise
  config.json
  exercises/practice/etl/.docs/instructions.append.md
  exercises/practice/etl/.docs/instructions.md
  exercises/practice/etl/.docs/introduction.md
  exercises/practice/etl/.meta/config.json
  exercises/practice/etl/.meta/example.sql
  exercises/practice/etl/.meta/tests.toml
  exercises/practice/etl/canonical-data.json
  exercises/practice/etl/create_fixture.sql
  exercises/practice/etl/data.csv
  exercises/practice/etl/etl.sql
  exercises/practice/etl/etl_test.sql
  exercises/practice/etl/test_reporter.sql
  exercises/practice/etl/test_setup.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#77 Add Roman Numerals exercise
  config.json
  exercises/practice/roman-numerals/.docs/instructions.append.md
  exercises/practice/roman-numerals/.docs/instructions.md
  exercises/practice/roman-numerals/.docs/introduction.md
  exercises/practice/roman-numerals/.meta/config.json
  exercises/practice/roman-numerals/.meta/example.sql
  exercises/practice/roman-numerals/.meta/tests.toml
  exercises/practice/roman-numerals/create_fixture.sql
  exercises/practice/roman-numerals/data.csv
  exercises/practice/roman-numerals/roman-numerals.sql
  exercises/practice/roman-numerals/roman-numerals_test.sql
  exercises/practice/roman-numerals/test_reporter.sql
  exercises/practice/roman-numerals/test_setup.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#79 Add Kindergarten Garden exercise
  .gitignore
  config.json
  exercises/practice/kindergarten-garden/.docs/instructions.append.md
  exercises/practice/kindergarten-garden/.docs/instructions.md
  exercises/practice/kindergarten-garden/.docs/introduction.md
  exercises/practice/kindergarten-garden/.meta/config.json
  exercises/practice/kindergarten-garden/.meta/example.sql
  exercises/practice/kindergarten-garden/.meta/tests.toml
  exercises/practice/kindergarten-garden/create_fixture.sql
  exercises/practice/kindergarten-garden/data.csv
  exercises/practice/kindergarten-garden/kindergarten-garden.sql
  exercises/practice/kindergarten-garden/kindergarten-garden_test.sql
  exercises/practice/kindergarten-garden/test_reporter.sql
  exercises/practice/kindergarten-garden/test_setup.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise
