Repository exercism/sqlite, pull requests merged in 2025-08, with the labels that each got.

#104 Add new practice exercise: all-your-base
  config.json
  exercises/practice/all-your-base/.docs/instructions.append.md
  exercises/practice/all-your-base/.docs/instructions.md
  exercises/practice/all-your-base/.docs/introduction.md
  exercises/practice/all-your-base/.meta/config.json
  exercises/practice/all-your-base/.meta/example.sql
  exercises/practice/all-your-base/.meta/tests.toml
  exercises/practice/all-your-base/all-your-base.sql
  exercises/practice/all-your-base/all-your-base_test.sql
  exercises/practice/all-your-base/create_fixture.sql
  exercises/practice/all-your-base/create_test_table.sql
  exercises/practice/all-your-base/data.csv
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#107 Add practice exercise: space-age
  config.json
  exercises/practice/space-age/.docs/instructions.md
  exercises/practice/space-age/.docs/introduction.md
  exercises/practice/space-age/.meta/config.json
  exercises/practice/space-age/.meta/example.sql
  exercises/practice/space-age/.meta/tests.toml
  exercises/practice/space-age/create_fixture.sql
  exercises/practice/space-age/create_test_table.sql
  exercises/practice/space-age/data.csv
  exercises/practice/space-age/space-age.sql
  exercises/practice/space-age/space-age_test.sql
Labels: x:action/create, x:module/practice-exercise

#108 * add new practice exercise: reverse-string
  config.json
  exercises/practice/reverse-string/.docs/instructions.md
  exercises/practice/reverse-string/.docs/introduction.md
  exercises/practice/reverse-string/.meta/config.json
  exercises/practice/reverse-string/.meta/example.sql
  exercises/practice/reverse-string/.meta/tests.toml
  exercises/practice/reverse-string/create_fixture.sql
  exercises/practice/reverse-string/create_test_table.sql
  exercises/practice/reverse-string/data.csv
  exercises/practice/reverse-string/reverse-string.sql
  exercises/practice/reverse-string/reverse-string_test.sql
Labels: x:action/create, x:module/practice-exercise

#109 Add new practice exercise: isbn-verifier
  config.json
  exercises/practice/isbn-verifier/.docs/instructions.md
  exercises/practice/isbn-verifier/.meta/config.json
  exercises/practice/isbn-verifier/.meta/example.sql
  exercises/practice/isbn-verifier/.meta/tests.toml
  exercises/practice/isbn-verifier/create_fixture.sql
  exercises/practice/isbn-verifier/create_test_table.sql
  exercises/practice/isbn-verifier/data.csv
  exercises/practice/isbn-verifier/isbn-verifier.sql
  exercises/practice/isbn-verifier/isbn-verifier_test.sql
Labels: x:action/create, x:module/practice-exercise

#114 * add new practice exercise: triangle
  config.json
  exercises/practice/triangle/.docs/instructions.md
  exercises/practice/triangle/.meta/config.json
  exercises/practice/triangle/.meta/example.sql
  exercises/practice/triangle/.meta/tests.toml
  exercises/practice/triangle/create_fixture.sql
  exercises/practice/triangle/create_test_table.sql
  exercises/practice/triangle/data.csv
  exercises/practice/triangle/triangle.sql
  exercises/practice/triangle/triangle_test.sql
Labels: x:action/create, x:module/practice-exercise

#116 * add practice exercise: scrabble-score
  config.json
  exercises/practice/scrabble-score/.docs/instructions.md
  exercises/practice/scrabble-score/.docs/introduction.md
  exercises/practice/scrabble-score/.meta/config.json
  exercises/practice/scrabble-score/.meta/example.sql
  exercises/practice/scrabble-score/.meta/tests.toml
  exercises/practice/scrabble-score/create_fixture.sql
  exercises/practice/scrabble-score/create_test_table.sql
  exercises/practice/scrabble-score/data.csv
  exercises/practice/scrabble-score/scrabble-score.sql
  exercises/practice/scrabble-score/scrabble-score_test.sql
Labels: x:action/create, x:rep/large, x:module/practice-exercise

#117 Add new practice exercise: swift-scheduling
  config.json
  exercises/practice/swift-scheduling/.docs/instructions.md
  exercises/practice/swift-scheduling/.docs/introduction.md
  exercises/practice/swift-scheduling/.meta/config.json
  exercises/practice/swift-scheduling/.meta/example.sql
  exercises/practice/swift-scheduling/.meta/tests.toml
  exercises/practice/swift-scheduling/create_fixture.sql
  exercises/practice/swift-scheduling/create_test_table.sql
  exercises/practice/swift-scheduling/data.csv
  exercises/practice/swift-scheduling/swift-scheduling.sql
  exercises/practice/swift-scheduling/swift-scheduling_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#118 Add new practice exercise: word-count
  config.json
  exercises/practice/word-count/.docs/instructions.append.md
  exercises/practice/word-count/.docs/instructions.md
  exercises/practice/word-count/.docs/introduction.md
  exercises/practice/word-count/.meta/config.json
  exercises/practice/word-count/.meta/example.sql
  exercises/practice/word-count/.meta/tests.toml
  exercises/practice/word-count/create_fixture.sql
  exercises/practice/word-count/create_test_table.sql
  exercises/practice/word-count/data.csv
  exercises/practice/word-count/word-count.sql
  exercises/practice/word-count/word-count_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#121 Add new practice exercise: twelve-days
  config.json
  exercises/practice/twelve-days/.docs/instructions.md
  exercises/practice/twelve-days/.meta/config.json
  exercises/practice/twelve-days/.meta/example.sql
  exercises/practice/twelve-days/.meta/tests.toml
  exercises/practice/twelve-days/create_fixture.sql
  exercises/practice/twelve-days/create_test_table.sql
  exercises/practice/twelve-days/data.csv
  exercises/practice/twelve-days/twelve-days.sql
  exercises/practice/twelve-days/twelve-days_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#120 Add new practice exercise: tournament
  config.json
  exercises/practice/tournament/.docs/instructions.md
  exercises/practice/tournament/.meta/config.json
  exercises/practice/tournament/.meta/example.sql
  exercises/practice/tournament/.meta/tests.toml
  exercises/practice/tournament/create_fixture.sql
  exercises/practice/tournament/create_test_table.sql
  exercises/practice/tournament/data.csv
  exercises/practice/tournament/tournament.sql
  exercises/practice/tournament/tournament_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#122 * add new practice exercise: sublist
  config.json
  exercises/practice/sublist/.docs/instructions.append.md
  exercises/practice/sublist/.docs/instructions.md
  exercises/practice/sublist/.meta/config.json
  exercises/practice/sublist/.meta/example.sql
  exercises/practice/sublist/.meta/tests.toml
  exercises/practice/sublist/create_fixture.sql
  exercises/practice/sublist/create_test_table.sql
  exercises/practice/sublist/data.csv
  exercises/practice/sublist/sublist.sql
  exercises/practice/sublist/sublist_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#126 Add practice exercise: pig-latin
  config.json
  exercises/practice/pig-latin/.docs/instructions.md
  exercises/practice/pig-latin/.docs/introduction.md
  exercises/practice/pig-latin/.meta/config.json
  exercises/practice/pig-latin/.meta/example.sql
  exercises/practice/pig-latin/.meta/tests.toml
  exercises/practice/pig-latin/create_fixture.sql
  exercises/practice/pig-latin/create_test_table.sql
  exercises/practice/pig-latin/data.csv
  exercises/practice/pig-latin/pig-latin.sql
  exercises/practice/pig-latin/pig-latin_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#123 Add new practice exercise: secret-handshake
  config.json
  exercises/practice/secret-handshake/.docs/instructions.md
  exercises/practice/secret-handshake/.docs/introduction.md
  exercises/practice/secret-handshake/.meta/config.json
  exercises/practice/secret-handshake/.meta/example.sql
  exercises/practice/secret-handshake/.meta/tests.toml
  exercises/practice/secret-handshake/create_fixture.sql
  exercises/practice/secret-handshake/create_test_table.sql
  exercises/practice/secret-handshake/data.csv
  exercises/practice/secret-handshake/secret-handshake.sql
  exercises/practice/secret-handshake/secret-handshake_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#113 Add new practice exercise: hamming
  config.json
  exercises/practice/hamming/.docs/instructions.md
  exercises/practice/hamming/.docs/introduction.md
  exercises/practice/hamming/.meta/config.json
  exercises/practice/hamming/.meta/example.sql
  exercises/practice/hamming/.meta/tests.toml
  exercises/practice/hamming/create_fixture.sql
  exercises/practice/hamming/create_test_table.sql
  exercises/practice/hamming/data.csv
  exercises/practice/hamming/hamming.sql
  exercises/practice/hamming/hamming_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#131 Add practice exercise: square-root
  config.json
  exercises/practice/square-root/.docs/instructions.md
  exercises/practice/square-root/.docs/introduction.md
  exercises/practice/square-root/.meta/config.json
  exercises/practice/square-root/.meta/example.sql
  exercises/practice/square-root/.meta/tests.toml
  exercises/practice/square-root/create_fixture.sql
  exercises/practice/square-root/create_test_table.sql
  exercises/practice/square-root/data.csv
  exercises/practice/square-root/square-root.sql
  exercises/practice/square-root/square-root_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#132 Add practice exercise: series
  config.json
  exercises/practice/series/.docs/instructions.md
  exercises/practice/series/.meta/config.json
  exercises/practice/series/.meta/example.sql
  exercises/practice/series/.meta/tests.toml
  exercises/practice/series/create_fixture.sql
  exercises/practice/series/create_test_table.sql
  exercises/practice/series/data.csv
  exercises/practice/series/series.sql
  exercises/practice/series/series_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#139 Auto-format allergies .sql files
  exercises/practice/allergies/.meta/example.sql
  exercises/practice/allergies/allergies_test.sql
  exercises/practice/allergies/create_fixture.sql
  exercises/practice/allergies/test_reporter.sql
  exercises/practice/allergies/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#136 Add practice exercise: rotational-cipher
  config.json
  exercises/practice/rotational-cipher/.docs/instructions.md
  exercises/practice/rotational-cipher/.meta/config.json
  exercises/practice/rotational-cipher/.meta/example.sql
  exercises/practice/rotational-cipher/.meta/tests.toml
  exercises/practice/rotational-cipher/create_fixture.sql
  exercises/practice/rotational-cipher/create_test_table.sql
  exercises/practice/rotational-cipher/data.csv
  exercises/practice/rotational-cipher/rotational-cipher.sql
  exercises/practice/rotational-cipher/rotational-cipher_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#137 Add practice exercise: protein-translation
  config.json
  exercises/practice/protein-translation/.docs/instructions.md
  exercises/practice/protein-translation/.meta/config.json
  exercises/practice/protein-translation/.meta/example.sql
  exercises/practice/protein-translation/.meta/tests.toml
  exercises/practice/protein-translation/create_fixture.sql
  exercises/practice/protein-translation/create_test_table.sql
  exercises/practice/protein-translation/data.csv
  exercises/practice/protein-translation/protein-translation.sql
  exercises/practice/protein-translation/protein-translation_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#125 Add practice exercise: matrix
  config.json
  exercises/practice/matrix/.docs/instructions.append.md
  exercises/practice/matrix/.docs/instructions.md
  exercises/practice/matrix/.meta/config.json
  exercises/practice/matrix/.meta/example.sql
  exercises/practice/matrix/.meta/tests.toml
  exercises/practice/matrix/create_fixture.sql
  exercises/practice/matrix/create_test_table.sql
  exercises/practice/matrix/data.csv
  exercises/practice/matrix/matrix.sql
  exercises/practice/matrix/matrix_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#127 Add new practice exercise: house
  config.json
  exercises/practice/house/.docs/instructions.md
  exercises/practice/house/.meta/config.json
  exercises/practice/house/.meta/example.sql
  exercises/practice/house/.meta/tests.toml
  exercises/practice/house/create_fixture.sql
  exercises/practice/house/create_test_table.sql
  exercises/practice/house/data.csv
  exercises/practice/house/house.sql
  exercises/practice/house/house_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#128 Add practice exercise: transpose
  config.json
  exercises/practice/transpose/.docs/instructions.md
  exercises/practice/transpose/.meta/config.json
  exercises/practice/transpose/.meta/example.sql
  exercises/practice/transpose/.meta/tests.toml
  exercises/practice/transpose/create_fixture.sql
  exercises/practice/transpose/create_test_table.sql
  exercises/practice/transpose/data.csv
  exercises/practice/transpose/transpose.sql
  exercises/practice/transpose/transpose_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#134 Add practice exercise: run-length-encoding
  config.json
  exercises/practice/run-length-encoding/.docs/instructions.md
  exercises/practice/run-length-encoding/.meta/config.json
  exercises/practice/run-length-encoding/.meta/example.sql
  exercises/practice/run-length-encoding/.meta/tests.toml
  exercises/practice/run-length-encoding/create_fixture.sql
  exercises/practice/run-length-encoding/create_test_table.sql
  exercises/practice/run-length-encoding/data.csv
  exercises/practice/run-length-encoding/run-length-encoding.sql
  exercises/practice/run-length-encoding/run-length-encoding_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#133 Add practice exercise: say
  config.json
  exercises/practice/say/.docs/instructions.md
  exercises/practice/say/.docs/introduction.md
  exercises/practice/say/.meta/config.json
  exercises/practice/say/.meta/example.sql
  exercises/practice/say/.meta/tests.toml
  exercises/practice/say/create_fixture.sql
  exercises/practice/say/create_test_table.sql
  exercises/practice/say/data.csv
  exercises/practice/say/say.sql
  exercises/practice/say/say_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#190 Add practice exercise: perfect-numbers
  config.json
  exercises/practice/perfect-numbers/.docs/instructions.md
  exercises/practice/perfect-numbers/.meta/config.json
  exercises/practice/perfect-numbers/.meta/example.sql
  exercises/practice/perfect-numbers/.meta/tests.toml
  exercises/practice/perfect-numbers/create_fixture.sql
  exercises/practice/perfect-numbers/create_test_table.sql
  exercises/practice/perfect-numbers/data.csv
  exercises/practice/perfect-numbers/perfect-numbers.sql
  exercises/practice/perfect-numbers/perfect-numbers_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#184 Auto-format triangle .sql files
  exercises/practice/triangle/.meta/example.sql
  exercises/practice/triangle/create_fixture.sql
  exercises/practice/triangle/create_test_table.sql
  exercises/practice/triangle/triangle_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#185 Auto-format twelve-days .sql files
  exercises/practice/twelve-days/.meta/example.sql
  exercises/practice/twelve-days/create_fixture.sql
  exercises/practice/twelve-days/create_test_table.sql
  exercises/practice/twelve-days/twelve-days_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#187 Auto-format word-count .sql files
  exercises/practice/word-count/.meta/example.sql
  exercises/practice/word-count/create_fixture.sql
  exercises/practice/word-count/create_test_table.sql
  exercises/practice/word-count/word-count_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#129 Add practice exercise: sum-of-multiples
  config.json
  exercises/practice/sum-of-multiples/.docs/instructions.append.md
  exercises/practice/sum-of-multiples/.docs/instructions.md
  exercises/practice/sum-of-multiples/.docs/introduction.md
  exercises/practice/sum-of-multiples/.meta/config.json
  exercises/practice/sum-of-multiples/.meta/example.sql
  exercises/practice/sum-of-multiples/.meta/tests.toml
  exercises/practice/sum-of-multiples/create_fixture.sql
  exercises/practice/sum-of-multiples/create_test_table.sql
  exercises/practice/sum-of-multiples/data.csv
  exercises/practice/sum-of-multiples/sum-of-multiples.sql
  exercises/practice/sum-of-multiples/sum-of-multiples_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#124 Add practice exercise: proverb
  config.json
  exercises/practice/proverb/.docs/instructions.append.md
  exercises/practice/proverb/.docs/instructions.md
  exercises/practice/proverb/.meta/config.json
  exercises/practice/proverb/.meta/example.sql
  exercises/practice/proverb/.meta/tests.toml
  exercises/practice/proverb/create_fixture.sql
  exercises/practice/proverb/create_test_table.sql
  exercises/practice/proverb/data.csv
  exercises/practice/proverb/proverb.sql
  exercises/practice/proverb/proverb_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#141 Auto-format anagram .sql files
  exercises/practice/anagram/.meta/example.sql
  exercises/practice/anagram/anagram.sql
  exercises/practice/anagram/anagram_test.sql
  exercises/practice/anagram/create_fixture.sql
  exercises/practice/anagram/create_test_table.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#142 Auto-format armstrong-numbers .sql files
  exercises/practice/armstrong-numbers/.meta/example.sql
  exercises/practice/armstrong-numbers/armstrong-numbers_test.sql
  exercises/practice/armstrong-numbers/create_fixture.sql
  exercises/practice/armstrong-numbers/test_reporter.sql
  exercises/practice/armstrong-numbers/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#143 Auto-format atbash-cipher .sql files
  exercises/practice/atbash-cipher/.meta/example.sql
  exercises/practice/atbash-cipher/atbash-cipher_test.sql
  exercises/practice/atbash-cipher/create_fixture.sql
  exercises/practice/atbash-cipher/create_test_table.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#191 Add practice exercise: largest-series-product
  config.json
  exercises/practice/largest-series-product/.docs/instructions.md
  exercises/practice/largest-series-product/.docs/introduction.md
  exercises/practice/largest-series-product/.meta/config.json
  exercises/practice/largest-series-product/.meta/example.sql
  exercises/practice/largest-series-product/.meta/tests.toml
  exercises/practice/largest-series-product/create_fixture.sql
  exercises/practice/largest-series-product/create_test_table.sql
  exercises/practice/largest-series-product/data.csv
  exercises/practice/largest-series-product/largest-series-product.sql
  exercises/practice/largest-series-product/largest-series-product_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#182 Auto-format swift-scheduling .sql files
  exercises/practice/swift-scheduling/.meta/example.sql
  exercises/practice/swift-scheduling/create_fixture.sql
  exercises/practice/swift-scheduling/create_test_table.sql
  exercises/practice/swift-scheduling/swift-scheduling_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#181 Auto-format sublist .sql files
  exercises/practice/sublist/.meta/example.sql
  exercises/practice/sublist/create_fixture.sql
  exercises/practice/sublist/create_test_table.sql
  exercises/practice/sublist/sublist_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#180 Auto-format state-of-tic-tac-toe .sql files
  exercises/practice/state-of-tic-tac-toe/.meta/example.sql
  exercises/practice/state-of-tic-tac-toe/create_fixture.sql
  exercises/practice/state-of-tic-tac-toe/create_test_table.sql
  exercises/practice/state-of-tic-tac-toe/state-of-tic-tac-toe_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#179 Auto-format square-root .sql files
  exercises/practice/square-root/.meta/example.sql
  exercises/practice/square-root/create_fixture.sql
  exercises/practice/square-root/create_test_table.sql
  exercises/practice/square-root/square-root_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#146 Auto-format collatz-conjecture .sql files
  exercises/practice/collatz-conjecture/.meta/example.sql
  exercises/practice/collatz-conjecture/collatz-conjecture_test.sql
  exercises/practice/collatz-conjecture/create_fixture.sql
  exercises/practice/collatz-conjecture/test_reporter.sql
  exercises/practice/collatz-conjecture/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#144 Auto-format bob .sql files
  exercises/practice/bob/.meta/example.sql
  exercises/practice/bob/bob_test.sql
  exercises/practice/bob/create_fixture.sql
  exercises/practice/bob/test_reporter.sql
  exercises/practice/bob/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#174 Auto-format roman-numerals .sql files
  exercises/practice/roman-numerals/.meta/example.sql
  exercises/practice/roman-numerals/create_fixture.sql
  exercises/practice/roman-numerals/roman-numerals_test.sql
  exercises/practice/roman-numerals/test_reporter.sql
  exercises/practice/roman-numerals/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#175 Auto-format scrabble-score .sql files
  exercises/practice/scrabble-score/.meta/example.sql
  exercises/practice/scrabble-score/create_fixture.sql
  exercises/practice/scrabble-score/create_test_table.sql
  exercises/practice/scrabble-score/scrabble-score_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#176 Auto-format secret-handshake .sql files
  exercises/practice/secret-handshake/.meta/example.sql
  exercises/practice/secret-handshake/create_fixture.sql
  exercises/practice/secret-handshake/create_test_table.sql
  exercises/practice/secret-handshake/secret-handshake_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#193 Add practice exercise: flatten-array
  config.json
  exercises/practice/flatten-array/.docs/instructions.append.md
  exercises/practice/flatten-array/.docs/instructions.md
  exercises/practice/flatten-array/.docs/introduction.md
  exercises/practice/flatten-array/.meta/config.json
  exercises/practice/flatten-array/.meta/example.sql
  exercises/practice/flatten-array/.meta/tests.toml
  exercises/practice/flatten-array/create_fixture.sql
  exercises/practice/flatten-array/create_test_table.sql
  exercises/practice/flatten-array/data.csv
  exercises/practice/flatten-array/flatten-array.sql
  exercises/practice/flatten-array/flatten-array_test.sql
Labels: x:action/create, x:size/large, x:rep/large, x:module/practice-exercise

#168 Auto-format resistor-color .sql files
  exercises/practice/resistor-color/.meta/example.sql
  exercises/practice/resistor-color/create_fixture.sql
  exercises/practice/resistor-color/resistor-color_test.sql
  exercises/practice/resistor-color/test_reporter.sql
  exercises/practice/resistor-color/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#167 Auto-format raindrops .sql files
  exercises/practice/raindrops/.meta/example.sql
  exercises/practice/raindrops/create_fixture.sql
  exercises/practice/raindrops/raindrops_test.sql
  exercises/practice/raindrops/test_reporter.sql
  exercises/practice/raindrops/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#169 Auto-format resistor-color-duo .sql files
  exercises/practice/resistor-color-duo/.meta/example.sql
  exercises/practice/resistor-color-duo/create_fixture.sql
  exercises/practice/resistor-color-duo/resistor-color-duo_test.sql
  exercises/practice/resistor-color-duo/test_reporter.sql
  exercises/practice/resistor-color-duo/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#170 Auto-format resistor-color-trio .sql files
  exercises/practice/resistor-color-trio/.meta/example.sql
  exercises/practice/resistor-color-trio/create_fixture.sql
  exercises/practice/resistor-color-trio/create_test_table.sql
  exercises/practice/resistor-color-trio/resistor-color-trio_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#171 Auto-format rest-api .sql files
  exercises/practice/rest-api/.meta/example.sql
  exercises/practice/rest-api/create_fixture.sql
  exercises/practice/rest-api/create_test_table.sql
  exercises/practice/rest-api/rest-api_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#172 Auto-format reverse-string .sql files
  exercises/practice/reverse-string/.meta/example.sql
  exercises/practice/reverse-string/create_fixture.sql
  exercises/practice/reverse-string/create_test_table.sql
  exercises/practice/reverse-string/reverse-string_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#162 Auto-format meetup .sql files
  exercises/practice/meetup/.meta/example.sql
  exercises/practice/meetup/create_fixture.sql
  exercises/practice/meetup/meetup_test.sql
  exercises/practice/meetup/test_reporter.sql
  exercises/practice/meetup/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#165 Auto-format pascals-triangle .sql files
  exercises/practice/pascals-triangle/.meta/example.sql
  exercises/practice/pascals-triangle/create_fixture.sql
  exercises/practice/pascals-triangle/pascals-triangle_test.sql
  exercises/practice/pascals-triangle/test_reporter.sql
  exercises/practice/pascals-triangle/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#166 Auto-format pig-latin .sql files
  exercises/practice/pig-latin/.meta/example.sql
  exercises/practice/pig-latin/create_fixture.sql
  exercises/practice/pig-latin/create_test_table.sql
  exercises/practice/pig-latin/pig-latin_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#161 Auto-format matching-brackets .sql files
  exercises/practice/matching-brackets/.meta/example.sql
  exercises/practice/matching-brackets/create_fixture.sql
  exercises/practice/matching-brackets/matching-brackets_test.sql
  exercises/practice/matching-brackets/test_reporter.sql
  exercises/practice/matching-brackets/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#159 Auto-format leap .sql files
  exercises/practice/leap/.meta/example.sql
  exercises/practice/leap/create_fixture.sql
  exercises/practice/leap/leap_test.sql
  exercises/practice/leap/test_reporter.sql
  exercises/practice/leap/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#158 Auto-format kindergarten-garden .sql files
  exercises/practice/kindergarten-garden/.meta/example.sql
  exercises/practice/kindergarten-garden/create_fixture.sql
  exercises/practice/kindergarten-garden/kindergarten-garden_test.sql
  exercises/practice/kindergarten-garden/test_reporter.sql
  exercises/practice/kindergarten-garden/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#157 Auto-format isogram .sql files
  exercises/practice/isogram/.meta/example.sql
  exercises/practice/isogram/create_fixture.sql
  exercises/practice/isogram/isogram_test.sql
  exercises/practice/isogram/test_reporter.sql
  exercises/practice/isogram/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#147 Auto-format darts .sql files
  exercises/practice/darts/.meta/example.sql
  exercises/practice/darts/create_fixture.sql
  exercises/practice/darts/darts_test.sql
  exercises/practice/darts/test_reporter.sql
  exercises/practice/darts/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#149 Auto-format eliuds-eggs .sql files
  exercises/practice/eliuds-eggs/.meta/example.sql
  exercises/practice/eliuds-eggs/create_fixture.sql
  exercises/practice/eliuds-eggs/eliuds-eggs_test.sql
  exercises/practice/eliuds-eggs/test_reporter.sql
  exercises/practice/eliuds-eggs/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#150 Auto-format etl .sql files
  exercises/practice/etl/.meta/example.sql
  exercises/practice/etl/create_fixture.sql
  exercises/practice/etl/etl_test.sql
  exercises/practice/etl/test_reporter.sql
  exercises/practice/etl/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#151 Auto-format gigasecond .sql files
  exercises/practice/gigasecond/.meta/example.sql
  exercises/practice/gigasecond/create_fixture.sql
  exercises/practice/gigasecond/gigasecond_test.sql
  exercises/practice/gigasecond/test_reporter.sql
  exercises/practice/gigasecond/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#152 Auto-format grains .sql files
  exercises/practice/grains/.meta/example.sql
  exercises/practice/grains/create_fixture.sql
  exercises/practice/grains/grains_test.sql
  exercises/practice/grains/test_reporter.sql
  exercises/practice/grains/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#153 Auto-format hamming .sql files
  exercises/practice/hamming/.meta/example.sql
  exercises/practice/hamming/create_fixture.sql
  exercises/practice/hamming/create_test_table.sql
  exercises/practice/hamming/hamming_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#154 Auto-format hello-world .sql files
  exercises/practice/hello-world/.meta/example.sql
  exercises/practice/hello-world/create_fixture.sql
  exercises/practice/hello-world/hello-world.sql
  exercises/practice/hello-world/hello-world_test.sql
  exercises/practice/hello-world/test_reporter.sql
  exercises/practice/hello-world/test_setup.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small

#156 Auto-format isbn-verifier .sql files
  exercises/practice/isbn-verifier/.meta/example.sql
  exercises/practice/isbn-verifier/create_fixture.sql
  exercises/practice/isbn-verifier/create_test_table.sql
  exercises/practice/isbn-verifier/isbn-verifier.sql
  exercises/practice/isbn-verifier/isbn-verifier_test.sql
Labels: x:action/improve, x:size/medium, x:module/practice-exercise, x:rep/small
